<div class="container-fluid headerTop" id="particles-js">
    <div class="container-fluid mainSlider">
        <div class="container-fluid headerLogo">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3 headerLogoText">BLOCK MONGO</div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-sm-1 pull-right">
                    <form>
                        <div class="form-group">
                            <div id="options"
                                 data-input-name="country2"
                                 data-selected-country="US"></div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-sm-8 pull-right">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
                        <div class="homevalveBoxText1">Bitcoin</div>
                        <div class="homevalveBoxText2">12.97% <i class="fas fa-sort-up"></i></div>
                        <div class="homevalveBoxText3">$11,459.75</div>
                        <div class="homevalveBoxText4">1,521.25 <i class="far fa-circle" style="font-size:9px;"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
                        <div class="homevalveBoxText1">Ethereum</div>
                        <div class="homevalveBoxText2" style="color:#e61313;">-11.47% <i class="fas fa-sort-up"></i>
                        </div>
                        <div class="homevalveBoxText3">$952.98</div>
                        <div class="homevalveBoxText4">-1,90.25 <i class="far fa-circle"
                                                                   style="font-size:9px; color:#e61313;"></i></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
                        <div class="homevalveBoxText1">Ripple</div>
                        <div class="homevalveBoxText2">11.05% <i class="fas fa-sort-up"></i></div>
                        <div class="homevalveBoxText3">$1.25</div>
                        <div class="homevalveBoxText4">498.55 <i class="far fa-circle" style="font-size:9px;"></i></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
                        <div class="homevalveBoxText1">Digitalcoin</div>
                        <div class="homevalveBoxText2">14.89% <i class="fas fa-sort-up"></i></div>
                        <div class="homevalveBoxText3">$11,459.75</div>
                        <div class="homevalveBoxText4">1,521.25 <i class="far fa-circle" style="font-size:9px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container homeNaviBox">
            <div class="col-lg-1 col-md-1 col-sm-1 col-sm-6 pull-right">
                <div class="menu-section">
                    <div class="menu-toggle">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                    <nav>
                        <ul role="navigation" class="hidden">
                            <li><a href="#">work</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">resume</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-sm-6 pull-right">
                <form>
                    <div class="form-group">
                        <div id="options2"
                             data-input-name="country2"
                             data-selected-country="AU"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-6 mainSliderLeft">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="homeSliderTitel">A. I. MEETS BLOCKCHAIN</div>
                            <div class="homeSliderText">Block Mongo is an Advance Social Trading Platform that is build
                                on Blockchain and powered by A. I.
                            </div>
                            <div class="col-md-12 noPadding">
                                <button type="button" class="btn btn-default btn-lg mainSliderButton1">Whitepaper
                                </button>
                                <button type="button" class="btn btn-default btn-lg mainSliderButton2">Presentation
                                </button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="homeSliderTitel">A. I. MEETS BLOCKCHAIN</div>
                            <div class="homeSliderText">Block Mongo is an Advance Social Trading Platform that is build
                                on Blockchain and powered by A. I.
                            </div>
                            <div class="col-md-12 noPadding">
                                <button type="button" class="btn btn-default btn-lg mainSliderButton1">Whitepaper
                                </button>
                                <button type="button" class="btn btn-default btn-lg mainSliderButton2">Presentation
                                </button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="homeSliderTitel">A. I. MEETS BLOCKCHAIN</div>
                            <div class="homeSliderText">Block Mongo is an Advance Social Trading Platform that is build
                                on Blockchain and powered by A. I.
                            </div>
                            <div class="col-md-12 noPadding">
                                <button type="button" class="btn btn-default btn-lg mainSliderButton1">Whitepaper
                                </button>
                                <button type="button" class="btn btn-default btn-lg mainSliderButton2">Presentation
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span>
                    </a> <a class="right carousel-control" href="#carousel-example-generic" role="button"
                            data-slide="next"> <span class="glyphicon glyphicon-chevron-right"
                                                     aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
            <div class="col-lg-6 mainSliderRight">
                <div class="homeSliderRightTitel">BE THE FIRST TO KNOW</div>
                <div class="homeSliderRightTitel">
                    <ul class="countdown">
                        <li><span id="days"></span>days</li>
                        <li><span id="hours"></span>Hours</li>
                        <li><span id="minutes"></span>Minutes</li>
                        <li><span id="seconds"></span>Seconds</li>
                    </ul>
                </div>
                <div class="newsletterBox">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control newsletterInput" id="exampleInputEmail3"
                                   placeholder="Enter Your Email Address">
                        </div>
                        <a href="#" data-toggle="modal" data-target="">
                            <button type="" class="btn btn-default pull-right mainSliderButton3" (click)="showSignup()">Newsletter</button>
                        </a>
                    </form>
                </div>
                <div class="homeSliderRightText">New to Crypto-Currency? Want to learn more? <a href="#">Click here</a>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 521px; height: 600px;"></div>
</div>
<!-- top area END -->

<!-- logo Area -->
<div class="container">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><img src="assets/images/logo-1.png" class="img-responsive center-block"
                                                           alt=""/></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><img src="assets/images/logo-2.png" class="img-responsive center-block"
                                                           alt=""/></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><img src="assets/images/logo-3.png" class="img-responsive center-block"
                                                           alt=""/></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><img src="assets/images/logo-4.png" class="img-responsive center-block"
                                                           alt=""/></div>
</div>
<!-- logo Area END -->

<!-- Step Area -->
<div class="container-fluid stepArea">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 stepAreaNumber1">1</div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 stepAreaTitel">PLATFORM</div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 stepAreaText">There are many variations of passages
                    of Lorem Ipsum available
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="assets/images/step-1.png"
                                                                          class="img-responsive center-block" alt=""/>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 stepAreaNumber1">2</div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 stepAreaTitel">TRADING METHODS</div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 stepAreaText">There are many variations of passages
                    of Lorem Ipsum available
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="assets/images/step-2.png"
                                                                          class="img-responsive center-block" alt=""/>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 stepAreaNumber1">3</div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 stepAreaTitel">MULTIPLE EXCHANGES</div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 stepAreaText">There are many variations of passages
                    of Lorem Ipsum available
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="assets/images/step-3.png"
                                                                          class="img-responsive center-block" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Step Area END -->

<!-- How to work Area -->
<div class="container sectionBox">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionTitel">HOW DOES IT WORK</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionText">Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. <br>
        Lorem Ipsum has been the industry's standard dummy <br>
        text ever since the 1500s
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaBox">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 workAreaNumber1">1</div>
            <div class="col-md-10 noPadding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaTitel">SIGN UP</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaText">Create an account with us and open
                    doors to the world of crypto-currencies.
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-default btn-sm mainSliderButton1">more</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaBox">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 workAreaNumber1">2</div>
            <div class="col-md-10 noPadding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaTitel">VERIFY</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaText">As a proud global citizen it is our
                    responsibility to comply with laws and regulations.
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-default btn-sm mainSliderButton1">more</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaBox">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 workAreaNumber1">3</div>
            <div class="col-md-10 noPadding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaTitel">BUY/SELL & TRADE</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workAreaText">Now that verifications are done, LET
                    THE FUN BEGIN! You can buy/sell/trade or send receive your favourite digital currency at a click of
                    a button.
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-default btn-sm mainSliderButton1">more</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="" data-toggle="modal" data-target="#myModal"><img
            src="assets/images/parth.png" class="img-responsive center-block" alt=""/></a></div>
</div>
<!-- How to work Area END -->

<!-- Team Area -->
<div class="container-fluid stepArea">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionTitel">Our Team</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionText">Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. <br>
            Lorem Ipsum has been the industry's standard dummy <br>
            text ever since the 1500s
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionTitelInner">The Leadership Team</div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 teamImg"><img src="assets/images/team-1.jpg" class="img-responsive"
                                                                          alt=""/></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 teamInfoBox">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 teamInfoBoxIcon"><i class="fab fa-facebook-f"></i>
                    &nbsp; <i class="fab fa-twitter"></i> &nbsp; <i class="fab fa-instagram"></i></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxTitel">Waylon Dalton</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxText">CEO & Lead</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 teamImg"><img src="assets/images/team-2.jpg" class="img-responsive"
                                                                          alt=""/></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 teamInfoBox">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 teamInfoBoxIcon"><i class="fab fa-facebook-f"></i>
                    &nbsp; <i class="fab fa-twitter"></i> &nbsp; <i class="fab fa-instagram"></i></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxTitel">Stefan Harary</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxText">CTO & Senior Developer</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 teamImg"><img src="assets/images/team-3.jpg" class="img-responsive"
                                                                          alt=""/></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 teamInfoBox">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 teamInfoBoxIcon"><i class="fab fa-facebook-f"></i>
                    &nbsp; <i class="fab fa-twitter"></i> &nbsp; <i class="fab fa-instagram"></i></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxTitel">Moises Teare</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxText">App Developer</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionTitelInner">The Advisory board</div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 teamImg"><img src="assets/images/team-1.jpg" class="img-responsive"
                                                                          alt=""/></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 teamInfoBox">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 teamInfoBoxIcon"><i class="fab fa-facebook-f"></i>
                    &nbsp; <i class="fab fa-twitter"></i> &nbsp; <i class="fab fa-instagram"></i></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxTitel">Waylon Dalton</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxText">CEO & Lead / Board Advisor</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 teamImg"><img src="assets/images/team-4.jpg" class="img-responsive"
                                                                          alt=""/></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 teamInfoBox">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 teamInfoBoxIcon"><i class="fab fa-facebook-f"></i>
                    &nbsp; <i class="fab fa-twitter"></i> &nbsp; <i class="fab fa-instagram"></i></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxTitel">Jaxon Kilburn</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teamInfoBoxText">Board Advisor</div>
            </div>
        </div>
    </div>
</div>
<!-- Team Area END -->

<div class="container sectionBox">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionTitel">ROADMAP</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionText">Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. <br>
        Lorem Ipsum has been the industry's standard dummy <br>
        text ever since the 1500s
    </div>
    <div class="section-pro-alt roadmap-section">
        <div class="container">
            <div class="row"></div>
            <div class="roadmap-list-alt text-center timeline-carousel animated owl-carousel owl-loaded owl-drag fadeInUp"
                 data-animate="fadeInUp" data-delay=".0" style="visibility: visible; animation-delay: 0s;">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(-190px, 0px, 0px); transition: all 0s ease 0s; width: 1520px;">
                        <div class="owl-item" style="width: 160px; margin-right: 30px;">
                            <div class="single-roadmap-alt sra-done gradiant-ctob">
                                <h6>March 2018</h6>
                                <p>Start of the ICO Crypto Platform Development.</p>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 160px; margin-right: 30px;">
                            <div class="single-roadmap-alt sra-done gradiant-btoa">
                                <h6>April 2018</h6>
                                <p>Start of the Preparation for the ICO Token Sale</p>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 160px; margin-right: 30px;">
                            <div class="single-roadmap-alt gradiant-atob">
                                <h6>October 2018</h6>
                                <p>ICO Platform Launched with full solutions</p>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 160px; margin-right: 30px;">
                            <div class="single-roadmap-alt gradiant-btoc">
                                <h6>January 2019</h6>
                                <p>Partnership for the future EcoSystem</p>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 160px; margin-right: 30px;">
                            <div class="single-roadmap-alt gradiant-ctoa">
                                <h6>June 2019</h6>
                                <p>ICO Wallet full version release</p>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 160px; margin-right: 30px;">
                            <div class="single-roadmap-alt gradiant-atoc">
                                <h6>December 2019</h6>
                                <p>The firest product ready to goes live to all business</p>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 160px; margin-right: 30px;">
                            <div class="single-roadmap-alt gradiant-ctob">
                                <h6>March 2018</h6>
                                <p>Start of the ICO Crypto Platform Development.</p>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 160px; margin-right: 30px;">
                            <div class="single-roadmap-alt sra-done gradiant-btoa">
                                <h6>April 2018</h6>
                                <p>Start of the Preparation for the ICO Token Sale</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev disabled"><i class="fal fa-angle-left"></i></div>
                    <div class="owl-next"><i class="fal fa-angle-right"></i></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container sectionBox">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionTitel">PARTNERS</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sectionText">Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. <br>
        Lorem Ipsum has been the industry's standard dummy <br>
        text ever since the 1500s
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="assets/images/part-1.png" class="img-responsive center-block"
                                                           alt=""/></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="assets/images/part-2.png" class="img-responsive center-block"
                                                           alt=""/></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="assets/images/part-3.png" class="img-responsive center-block"
                                                           alt=""/></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="assets/images/part-4.png" class="img-responsive center-block"
                                                           alt=""/></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="assets/images/part-5.png" class="img-responsive center-block"
                                                           alt=""/></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="assets/images/part-6.png" class="img-responsive center-block"
                                                           alt=""/></div>
</div>
<div class="container-fluid footerBox">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footerIcon"><i class="fas fa-phone"></i></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 footerText">+ (001) 123 45 789</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footerIcon"><i class="far fa-envelope"></i></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 footerText">info@blockmongo.com</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-4"><img src="assets/images/footer-logo.png"
                                                                                   class="img-responsive center-block"
                                                                                   alt=""/></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-4 footerSoIcon"><i
                    class="fab fa-facebook-f"></i> &nbsp; <i class="fab fa-twitter"></i> &nbsp; <i
                    class="fab fa-youtube"></i></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  fooetrCopyright">Copyright © 2018 | BLOCK MONGO</div>
        </div>
    </div>
</div>


<!-- How to work Video -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="auto" height="auto" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/bC8EmPA6H6g" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- How to work Video END -->
